#include <windows.h> // include for version info constants

A ICON "Tetris.ico"

1 VERSIONINFO
FILEVERSION 1,8,0,1
PRODUCTVERSION 1,8,0,1
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "iBug Inc."
      VALUE "FileVersion", "1.8.0.1"
      VALUE "FileDescription", "Tetris AI"
      VALUE "InternalName", "TetrisAI"
      VALUE "LegalCopyright", "Copyright (C) 2013 iBug Inc."
      VALUE "LegalTrademarks", "TetrisAI"
      VALUE "OriginalFilename", "TetrisAI.exe"
      VALUE "ProductName", "CPU Monitor"
      VALUE "ProductVersion", "1.8.0.1"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1252
  }
}
